In [1]:
# pip install -r ../requirements.txt

In [3]:
from utils import utils
from app import run_app

settings = utils.get_settings_notebook('../settings.json')
utils.pretty_print(settings)

=======
{
    "csv_map": {
        "directors": {
            "filepath_or_buffer": "files/archive/900_acclaimed_directors_awards.csv",
            "sep": ";"
        }
    },
    "etl": {
        "directors": {
            "column_map": {
                "Total awards": "total_awards",
                "imdbID": "id",
                "name": "name"
            },
            "node_name": "Director"
        }
    },
    "neo4j": {
        "db": null,
        "password": "1234",
        "uri": "bolt://localhost:7687",
        "username": "neo4j"
    }
}
======

In [4]:
import pandas as pd
df = pd.read_csv(**settings['csv_map']['directors'])
df.head()

,name,tmdbID,imdbID,Total awards,Academy Fellowship,Academy Fellowship_won,Academy Fellowship_nominated,Gold Hugo,Gold Hugo_won,Gold Hugo_nominated,...,Orpheus Award_nominated,Arte France Cinéma Award,Arte France Cinéma Award_won,Arte France Cinéma Award_nominated,Citizens Award,Citizens Award_won,Citizens Award_nominated,Cowboy Award,Cowboy Award_won,Cowboy Award_nominated
0,Ingmar Bergman,6648,nm0000005,101,1,1,0,2,0,2,...,0,0,0,0,0,0,0,0,0,0
1,Marlon Brando,3084,nm0000008,58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Federico Fellini,4415,nm0000019,90,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Alfred Hitchcock,2636,nm0000033,53,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Buster Keaton,8635,nm0000036,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
run_app(settings, 'etl')

transform
====== SUCCESS ======
=======
[
    "\n            UNWIND $rows AS row\n            MERGE (:Director {id: row.id,name: row.name,total_awards: row.total_awards})\n            RETURN count(*) as total\n        "
]
======