In [1]:
# pip install -r ../requirements.txt

In [8]:
from utils import utils
from app import run_app, App
from core.gen_topics import gen_topics
import warnings
warnings.filterwarnings("ignore") # supress all the warnigns

settings = utils.get_settings_notebook('../settings.json')
utils.pretty_print(settings)

=======
{
    "extract": {
        "cast": {
            "filepath_or_buffer": "files/archive/AllMoviesCastingRaw.csv",
            "sep": ";"
        },
        "directors": {
            "filepath_or_buffer": "files/archive/900_acclaimed_directors_awards.csv",
            "sep": ";"
        },
        "movies": {
            "filepath_or_buffer": "files/archive/AllMoviesDetailsCleaned.csv",
            "sep": ";"
        }
    },
    "load": {
        "constraints": [
            {
                "field": "name",
                "name": "Companies",
                "node_name": "Company"
            },
            {
                "field": "name",
                "name": "Genres",
                "node_name": "Genre"
            },
            {
                "field": "name",
                "name": "People",
                "node_name": "Person"
            },
            {
                "field": "movie_id",
                "name": "Movies",
                "node_name": "Movie"
            }
        ],
        "data": {
            "company": [
                {
                    "cols": [
                        "name"
                    ],
                    "node_name": "Company",
                    "ref": "c"
                }
            ],
            "genres": [
                {
                    "cols": [
                        "name"
                    ],
                    "node_name": "Genre",
                    "ref": "g"
                }
            ],
            "movies": [
                {
                    "cols": [
                        "movie_id",
                        "imdb_id",
                        "lang",
                        "title",
                        "overview"
                    ],
                    "node_name": "Movie",
                    "ref": "m"
                },
                {
                    "cols": [
                        "name"
                    ],
                    "needs": "m",
                    "node_name": "Person",
                    "ref": "d",
                    "relations": [
                        {
                            "begins": "d",
                            "begins_dir": "-",
                            "ends": "m",
                            "ends_dir": "->",
                            "name": "DIRECTED"
                        }
                    ],
                    "unwind": "directors"
                },
                {
                    "cols": [
                        "name"
                    ],
                    "needs": "m",
                    "node_name": "Company",
                    "ref": "c",
                    "relations": [
                        {
                            "begins": "c",
                            "begins_dir": "-",
                            "ends": "m",
                            "ends_dir": "->",
                            "name": "PRODUCED"
                        }
                    ],
                    "unwind": "companies"
                },
                {
                    "cols": [
                        "name"
                    ],
                    "needs": "m",
                    "node_name": "Genre",
                    "ref": "g",
                    "relations": [
                        {
                            "begins": "m",
                            "begins_dir": "-",
                            "ends": "g",
                            "ends_dir": "->",
                            "name": "HAS_GENRE"
                        }
                    ],
                    "unwind": "genres"
                },
                {
                    "cols": [
                        "name"
                    ],
                    "needs": "m",
                    "node_name": "Person",
                    "ref": "a",
                    "relations": [
                        {
                            "begins": "a",
                            "begins_dir": "-",
                            "ends": "m",
                            "ends_dir": "->",
                            "name": "ACTED_IN"
                        }
                    ],
                    "unwind": "actors"
                }
            ],
            "people": [
                {
                    "cols": [
                        "name",
                        "gender"
                    ],
                    "node_name": "Person",
                    "ref": "p"
                }
            ]
        }
    },
    "neo4j": {
        "cap_insert": 25000,
        "clear_data": true,
        "db": null,
        "file_folder": "../import/",
        "insertion_mode": "rows",
        "password": "1234",
        "uri": "bolt://localhost:7687",
        "username": "neo4j"
    },
    "transform": {
        "cast": {
            "column_map": {
                "actor1_gender": "actor1_gender",
                "actor1_name": "actor1_name",
                "actor2_gender": "actor2_gender",
                "actor2_name": "actor2_name",
                "actor3_gender": "actor3_gender",
                "actor3_name": "actor3_name",
                "actor4_gender": "actor4_gender",
                "actor4_name": "actor4_name",
                "actor5_gender": "actor5_gender",
                "actor5_name": "actor5_name",
                "director_gender": "director_gender",
                "director_name": "director_name",
                "id": "movie_id"
            }
        },
        "directors": {
            "column_map": {
                "Academy Fellowship": "acad_fellow",
                "name": "name"
            }
        },
        "movies": {
            "column_map": {
                "genres": "genres",
                "id": "movie_id",
                "imdb_id": "imdb_id",
                "original_language": "lang",
                "original_title": "title",
                "overview": "overview",
                "production_companies": "company"
            }
        }
    }
}
======

In [9]:
import pandas as pd
df = pd.read_csv(**settings['extract']['directors'])
df.head()

,name,tmdbID,imdbID,Total awards,Academy Fellowship,Academy Fellowship_won,Academy Fellowship_nominated,Gold Hugo,Gold Hugo_won,Gold Hugo_nominated,...,Orpheus Award_nominated,Arte France Cinéma Award,Arte France Cinéma Award_won,Arte France Cinéma Award_nominated,Citizens Award,Citizens Award_won,Citizens Award_nominated,Cowboy Award,Cowboy Award_won,Cowboy Award_nominated
0,Ingmar Bergman,6648,nm0000005,101,1,1,0,2,0,2,...,0,0,0,0,0,0,0,0,0,0
1,Marlon Brando,3084,nm0000008,58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Federico Fellini,4415,nm0000019,90,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Alfred Hitchcock,2636,nm0000033,53,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Buster Keaton,8635,nm0000036,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
data_df = run_app(settings, 'extract_transform')

==== TRANSFORM directors ====
==== TRANSFORM movies ====
==== TRANSFORM cast ====

## Topic generation for movie overviews

In [11]:
movie_topics = gen_topics()
# (df_movie_topics, df_topic_words) = movie_topics.batch_process(data_df['movies'][data_df['movies']['lang'] == 'en'])
(df_movie_topics, df_topic_words) = movie_topics.batch_process(data_df['movies'][data_df['movies']['overview'].apply(lambda x: x is not None and len(x) > 30)])
df_topic_words.reset_index(drop=True, inplace=True)
df_movie_topics.reset_index(drop=True, inplace=True)
display(df_topic_words)
display(df_movie_topics)
df_topic_words.to_csv('./files/archive/topic_words.csv', index=True)
df_movie_topics.to_csv('./files/archive/movie_topic_ids.csv', index=True)

2022-12-08 22:06:54 INFO: Checking for updates to resources.json in case models have been updated.  Note: this behavior can be turned off with download_method=None or download_method=DownloadMethod.REUSE_RESOURCES
2022-12-08 22:06:54,387 : INFO : Checking for updates to resources.json in case models have been updated.  Note: this behavior can be turned off with download_method=None or download_method=DownloadMethod.REUSE_RESOURCES
Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/main/resources_1.4.1.json: 193kB [00:00, 16.7MB/s]
2022-12-08 22:06:55 INFO: Loading these models for language: en (English):
============================
| Processor    | Package   |
----------------------------
| tokenize     | combined  |
| pos          | combined  |
| lemma        | combined  |
| depparse     | combined  |
| sentiment    | sstplus   |
| constituency | wsj       |
| ner          | ontonotes |
============================

2022-12-08 22:06:55,333 : INFO : Loading these models for language: en (English):
============================
| Processor    | Package   |
----------------------------
| tokenize     | combined  |
| pos          | combined  |
| lemma        | combined  |
| depparse     | combined  |
| sentiment    | sstplus   |
| constituency | wsj       |
| ner          | ontonotes |
============================

2022-12-08 22:06:55 INFO: Use device: gpu
2022-12-08 22:06:55,333 : INFO : Use device: gpu
2022-12-08 22:06:55 INFO: Loading: tokenize
2022-12-08 22:06:55,334 : INFO : Loading: tokenize
2022-12-08 22:06:55 INFO: Loading: pos
2022-12-08 22:06:55,349 : INFO : Loading: pos
2022-12-08 22:06:55 INFO: Loading: lemma
2022-12-08 22:06:55,542 : INFO : Loading: lemma
2022-12-08 22:06:55 INFO: Loading: depparse
2022-12-08 22:06:55,562 : INFO : Loading: depparse
2022-12-08 22:06:55 INFO: Loading: sentiment
2022-12-08 22:06:55,693 : INFO : Loading: sentiment
2022-12-08 22:06:55 INFO: Loading: constituency
2022-12-08 22:06:55,949 : INFO : Loading: constituency
2022-12-08 22:06:56 INFO: Loading: ner
2022-12-08 22:06:56,230 : INFO : Loading: ner
2022-12-08 22:06:56 INFO: Done loading processors!
2022-12-08 22:06:56,546 : INFO : Done loading processors!

,0,1,2,3,4,5,6,7,8,9
0,"""bill""","""life""","""make""","""last""","""list""","""live""","""death""","""wrong""","""payback""","""shoot"""
1,"""film""","""suicide""","""life""","""escape""","""force""","""evidence""","""hold""","""master""","""star""","""political"""
2,"""life""","""mission""","""exist""","""record""","""set""","""daughter""","""help""","""man""","""film""","""green"""
3,"""put""","""send""","""get""","""force""","""back""","""unit""","""want""","""boot""","""cheat""","""kill"""
4,"""man""","""young""","""commit""","""start""","""death""","""involve""","""garbage""","""much""","""worker""","""nikander"""
...,...,...,...,...,...,...,...,...,...,...
5,"""red""","""car""","""book""","""film""","""girl""","""student""","""robe""","""silent""","""make""","""owner"""
6,"""use""","""day""","""horror""","""reflection""","""autumn""","""go""","""broadcasting""","""programme""","""material""","""extreme"""
7,"""foreign""","""national""","""citizen""","""civil""","""almost""","""yemeni""","""port""","""evacuation""","""war""","""loosely"""
8,"""find""","""heart""","""go""","""invasion""","""human""","""royalty""","""daughter""","""hollywood""","""follow""","""fight"""
9,"""interview""","""award""","""relation""","""win""","""rigid""","""issue""","""divisive""","""filmmaker""","""system""","""relate"""

      movie_id topic
0            2     4
1            3     4
2           12     7
3           13     8
4           14     2
...        ...   ...
11801   464610  3896
11802   464833  3896
11803   464888  3895
11805   464905  3894
11807   465079  3895

[11700 rows x 2 columns]

In [5]:
etl = run_app(settings, 'etl')

==== TRANSFORM directors ====

/Users/leonardoclo/git/dse-203/src/core/core.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(**settings['extract'][k])

==== TRANSFORM movies ====
==== TRANSFORM cast ====

/Users/leonardoclo/git/dse-203/src/core/preprocessing.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[dir_col] = df[dir_col].str.replace(

CREATE CONSTRAINT Companies
        IF NOT EXISTS ON (c:Company)
        ASSERT c.name IS UNIQUE
CREATE CONSTRAINT Genres
        IF NOT EXISTS ON (c:Genre)
        ASSERT c.name IS UNIQUE
CREATE CONSTRAINT People
        IF NOT EXISTS ON (c:Person)
        ASSERT c.name IS UNIQUE
CREATE CONSTRAINT Movies
        IF NOT EXISTS ON (c:Movie)
        ASSERT c.movie_id IS UNIQUE
batch 0
UNWIND $rows AS row

MERGE (c:Company {name: row.name})

RETURN count(*) as total
batch 1
UNWIND $rows AS row

MERGE (c:Company {name: row.name})

RETURN count(*) as total
batch 2
UNWIND $rows AS row

MERGE (c:Company {name: row.name})

RETURN count(*) as total
batch 0
UNWIND $rows AS row

MERGE (p:Person {name: row.name, gender: row.gender})

RETURN count(*) as total
batch 1
UNWIND $rows AS row

MERGE (p:Person {name: row.name, gender: row.gender})

RETURN count(*) as total
batch 2
UNWIND $rows AS row

MERGE (p:Person {name: row.name, gender: row.gender})

RETURN count(*) as total
batch 0
UNWIND $rows AS row

MERGE (g:Genre {name: row.name})

RETURN count(*) as total
batch 1
UNWIND $rows AS row

MERGE (g:Genre {name: row.name})

RETURN count(*) as total
batch 2
UNWIND $rows AS row

MERGE (g:Genre {name: row.name})

RETURN count(*) as total
batch 0
UNWIND $rows AS row

MERGE (m:Movie {movie_id: row.movie_id, imdb_id: row.imdb_id, lang: row.lang, title: row.title, overview: row.overview})

WITH row, m
UNWIND row.directors AS directors
MATCH (d:Person {name: directors.name})
MERGE (d)-[:DIRECTED]->(m)
WITH row, m
UNWIND row.companies AS companies
MATCH (c:Company {name: companies.name})
MERGE (c)-[:PRODUCED]->(m)
WITH row, m
UNWIND row.genres AS genres
MATCH (g:Genre {name: genres.name})
MERGE (m)-[:HAS_GENRE]->(g)
WITH row, m
UNWIND row.actors AS actors
MATCH (a:Person {name: actors.name})
MERGE (a)-[:ACTED_IN]->(m)
RETURN count(*) as total
batch 1
UNWIND $rows AS row

MERGE (m:Movie {movie_id: row.movie_id, imdb_id: row.imdb_id, lang: row.lang, title: row.title, overview: row.overview})

WITH row, m
UNWIND row.directors AS directors
MATCH (d:Person {name: directors.name})
MERGE (d)-[:DIRECTED]->(m)
WITH row, m
UNWIND row.companies AS companies
MATCH (c:Company {name: companies.name})
MERGE (c)-[:PRODUCED]->(m)
WITH row, m
UNWIND row.genres AS genres
MATCH (g:Genre {name: genres.name})
MERGE (m)-[:HAS_GENRE]->(g)
WITH row, m
UNWIND row.actors AS actors
MATCH (a:Person {name: actors.name})
MERGE (a)-[:ACTED_IN]->(m)
RETURN count(*) as total
batch 2
UNWIND $rows AS row

MERGE (m:Movie {movie_id: row.movie_id, imdb_id: row.imdb_id, lang: row.lang, title: row.title, overview: row.overview})

WITH row, m
UNWIND row.directors AS directors
MATCH (d:Person {name: directors.name})
MERGE (d)-[:DIRECTED]->(m)
WITH row, m
UNWIND row.companies AS companies
MATCH (c:Company {name: companies.name})
MERGE (c)-[:PRODUCED]->(m)
WITH row, m
UNWIND row.genres AS genres
MATCH (g:Genre {name: genres.name})
MERGE (m)-[:HAS_GENRE]->(g)
WITH row, m
UNWIND row.actors AS actors
MATCH (a:Person {name: actors.name})
MERGE (a)-[:ACTED_IN]->(m)
RETURN count(*) as total