In [1]:
# pip install -r ../requirements.txt

In [2]:
from utils import utils
from app import run_app, App

settings = utils.get_settings_notebook('../settings.json')
utils.pretty_print(settings)

=======
{
    "extract": {
        "cast": {
            "filepath_or_buffer": "files/archive/AllMoviesCastingRaw.csv",
            "sep": ";"
        },
        "directors": {
            "filepath_or_buffer": "files/archive/900_acclaimed_directors_awards.csv",
            "sep": ";"
        },
        "movies": {
            "filepath_or_buffer": "files/archive/AllMoviesDetailsCleaned.csv",
            "sep": ";"
        }
    },
    "load": {
        "constraints": [
            {
                "field": "name",
                "name": "Genres",
                "node_name": "Genre"
            },
            {
                "field": "name",
                "name": "People",
                "node_name": "Person"
            },
            {
                "field": "movie_id",
                "name": "Movies",
                "node_name": "Movie"
            }
        ],
        "merges": [
            {
                "cols": [
                    "movie_id",
                    "imdb_id",
                    "lang",
                    "title",
                    "overview"
                ],
                "node_name": "Movie",
                "ref": "m",
                "type": "node"
            },
            {
                "cols": [
                    "name"
                ],
                "node_name": "Genre",
                "ref": "g",
                "type": "node",
                "unwind": "genres"
            },
            {
                "cols": [
                    "name",
                    "gender"
                ],
                "node_name": "Person",
                "ref": "a",
                "type": "node",
                "unwind": "actors"
            },
            {
                "cols": [
                    "director_name",
                    "director_gender"
                ],
                "node_name": "Person",
                "ref": "d",
                "type": "node"
            }
        ],
        "relations": [
            {
                "begins": "m",
                "begins_dir": "-",
                "ends": "g",
                "ends_dir": "->",
                "name": "HAS_GENRE"
            },
            {
                "begins": "a",
                "begins_dir": "-",
                "ends": "m",
                "ends_dir": "->",
                "name": "ACTED_IN"
            },
            {
                "begins": "d",
                "begins_dir": "-",
                "ends": "m",
                "ends_dir": "->",
                "name": "DIRECTED"
            }
        ]
    },
    "neo4j": {
        "cap_insert": 25000,
        "clear_data": true,
        "db": null,
        "file_folder": "../import/",
        "insertion_mode": "csv_file",
        "password": "1234",
        "uri": "bolt://localhost:7687",
        "username": "neo4j"
    },
    "transform": {
        "cast": {
            "column_map": {
                "actor1_gender": "actor1_gender",
                "actor1_name": "actor1_name",
                "actor2_gender": "actor2_gender",
                "actor2_name": "actor2_name",
                "actor3_gender": "actor3_gender",
                "actor3_name": "actor3_name",
                "actor4_gender": "actor4_gender",
                "actor4_name": "actor4_name",
                "actor5_gender": "actor5_gender",
                "actor5_name": "actor5_name",
                "director_gender": "director_gender",
                "director_name": "director_name",
                "id": "movie_id"
            }
        },
        "directors": {
            "column_map": {
                "Academy Fellowship": "acad_fellow",
                "name": "name"
            }
        },
        "movies": {
            "column_map": {
                "genres": "genres",
                "id": "movie_id",
                "imdb_id": "imdb_id",
                "original_language": "lang",
                "original_title": "title",
                "overview": "overview"
            }
        }
    }
}
======

In [3]:
import pandas as pd
df = pd.read_csv(**settings['extract']['directors'])
df.head()

,name,tmdbID,imdbID,Total awards,Academy Fellowship,Academy Fellowship_won,Academy Fellowship_nominated,Gold Hugo,Gold Hugo_won,Gold Hugo_nominated,...,Orpheus Award_nominated,Arte France Cinéma Award,Arte France Cinéma Award_won,Arte France Cinéma Award_nominated,Citizens Award,Citizens Award_won,Citizens Award_nominated,Cowboy Award,Cowboy Award_won,Cowboy Award_nominated
0,Ingmar Bergman,6648,nm0000005,101,1,1,0,2,0,2,...,0,0,0,0,0,0,0,0,0,0
1,Marlon Brando,3084,nm0000008,58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Federico Fellini,4415,nm0000019,90,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Alfred Hitchcock,2636,nm0000033,53,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Buster Keaton,8635,nm0000036,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data_df = run_app(settings, 'extract_transform')

==== TRANSFORM directors ====

/Users/leonardoclo/git/dse-203/src/core/core.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(**settings['extract'][k])

==== TRANSFORM movies ====
==== TRANSFORM cast ====

In [7]:
etl = run_app(settings, 'etl')

In [6]:
data_df

,movie_id,imdb_id,lang,title,overview,genres,actors,name,gender
0,2,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,[],"[{'name': 'Matti Pellonpää', 'gender': 2}]",Aki Kaurismäki,0.0
1,3,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",[],"[{'name': 'Matti Pellonpää', 'gender': 2}, {'n...",Aki Kaurismäki,0.0
2,12,tt0266543,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",[],"[{'name': 'Albert Brooks', 'gender': 2}, {'nam...",Andrew Stanton,2.0
3,13,tt0109830,en,Forrest Gump,A man with a low IQ has accomplished great thi...,[],"[{'name': 'Tom Hanks', 'gender': 2}, {'name': ...",Robert Zemeckis,2.0
4,14,tt0169547,en,American Beauty,"Lester Burnham, a depressed suburban father in...",[],"[{'name': 'Kevin Spacey', 'gender': 2}, {'name...",Sam Mendes,2.0
...,...,...,...,...,...,...,...,...,...
11439,468134,tt0174108,en,Paviljon VI,A doctor from provincial town in Tsardom of Ru...,[],[],Lucian Pintilie,2.0
11440,468188,tt0020291,en,Prisoners,Prisoners was a 1929 American film directed by...,[],"[{'name': 'Ian Keith', 'gender': 2}, {'name': ...",William A. Seiter,2.0
11441,468335,tt0020128,en,Madonna of Avenue A,Madonna of Avenue A is a 1929 talking drama fi...,[],"[{'name': 'Dolores Costello', 'gender': 1.0}, ...",Michael Curtiz,0.0
11442,468749,tt0083115,en,Splendor in the Grass,Splendor in the Grass is a made-for-TV movie s...,[],"[{'name': 'Michelle Pfeiffer', 'gender': 1.0},...",Richard C. Sarafian,0.0
11443,468923,tt4607540,en,Back to the Future: Hilarious Outtakes,A short blooper reel from the filming of the 1...,[],"[{'name': 'Michael J. Fox', 'gender': 2.0}, {'...",Robert Zemeckis,2.0